html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
* {
    box-sizing: border-box;
}
nav {
    background-color: #b8c0ff;
    color: #fff;
    padding: 1em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
nav li {
    display: inline-block;
}
nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
main {
    max-width: 35em;
    margin: auto;
}
input {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.25em;
    font-size: 1em;
    width: 100%;
}
input[type="submit"] {
    background-color: #b8c0ff;
    color: #fff;
    border: none;
    cursor: pointer;
}
pre {
    background-color: #eee;
    padding: 1em;
    border-radius: 0.25em;
    margin: 1em 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}
footer {
    text-align: center;
    padding: 1em;
}
img {
    width: 100%;
}
p {
    font-size: 1.1em;
}
a {
    color: #b8c0ff;
    text-decoration: none;
}
video {
    width: 100%;
}
code {
    background-color: #eee;
    padding: 0.25em;
    border-radius: 0.25em;
}